.bg-nav {
  background:#4682B4;
}
.h-color{
color: rgb(255, 255, 255);
}
.bg-user{
background-color: #cfe7fa;
color: black;
font-weight:400 ;
}
.bg-date{
  background-color: #cfe7fa;
color: black;
font-weight: 500;

}
.button{
  background-color: rgb(143, 0, 0);
}